---
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FancyBackground from '../components/FancyBackground.astro'
import daylio from '../lib/daylio.ts'
import config from '../config.ts'
import '../styles/tailwind.css'

export interface Props {
  title?: string
  description?: string
  fancyBackgroundPoints?: number
}

const { title, description, fancyBackgroundPoints } = Astro.props
const latestFeeling = await daylio.getLatest()
---

<!DOCTYPE html>
<html
  lang="en"
  itemscope
  itemtype="https://schema.org/Person"
  itemid="#eli-gundry"
>
  <head>
    <meta charset="utf-8" />
    <title>{title ? `${title} | ${config.title}` : config.title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={config.url + Astro.url.pathname} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Eli Gundry's Blog"
      href="/blog.rss"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Eli Gundry's Feelings"
      href="/feelings.rss"
    />
    <link
      rel="icon"
      href={`data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>${latestFeeling.emoji}</text></svg>`}
    />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap"
    />
    <script is:inline>
      if (localStorage.getItem('theme') === null) {
        const prefersDark =
          window.matchMedia &&
          window.matchMedia('(prefers-color-scheme:dark)').matches
        document.documentElement.setAttribute(
          'data-theme',
          prefersDark ? 'dark' : 'light'
        )
      } else {
        document.documentElement.setAttribute(
          'data-theme',
          localStorage.getItem('theme')
        )
      }
    </script>
  </head>
  <body>
    <Header />
    <FancyBackground points={fancyBackgroundPoints}>
      <main
        class:list={[
          'container',
          'grow-0',
          'mx-auto',
          'mt-24',
          'print:mt-0',
          'print:pt-0',
        ]}
      >
        <slot />
      </main>
    </FancyBackground>
    <Footer />
  </body>
</html>
