---
import { CollectionEntry } from 'astro:content'
import BaseLayout from './Layout.astro'

interface Props {
  collection: string
  slug: string
  showComments?: boolean
  frontmatter:
    | CollectionEntry<'blog'>['data']
    | CollectionEntry<'talks'>['data']
  remarkPluginFrontmatter: Partial<{
    modified: Date
    readingTime: number
  }>
}

const { frontmatter, remarkPluginFrontmatter, slug, collection, showComments } =
  Astro.props
const { title, description, cover, date } = frontmatter
const { modified, readingTime } = remarkPluginFrontmatter
const url = `/${collection}/${slug}/`
---

<BaseLayout title={frontmatter.title}>
  <article
    class="paper prose"
    itemscope
    itemtype={`https://schema.org/${
      collection === 'blog' ? 'BlogPosting' : 'CreativeWork'
    }`}
  >
    <link itemprop="author publisher" href="#eli-gundry" />
    <div>
      {
        modified && (
          <meta itemprop="dateModified" content={modified.toString()} />
        )
      }
      {cover && <meta itemprop="image" content={cover} />}
    </div>
    {
      !!readingTime && (
        <meta itemprop="timeRequired" content={`PT${readingTime}M`} />
      )
    }
    <header>
      <h1 itemprop="name headline">
        <a href={url} itemprop="url">{title}</a>
      </h1>
    </header>
    <main itemprop="text">
      <slot />
    </main>
    {
      showComments && (
        <footer>
          <script
            is:inline
            src="https://utteranc.es/client.js"
            repo="eligundry/eligundry.com"
            issue-term="pathname"
            label="✨💬✨  Blog"
            theme="preferred-color-scheme"
            crossorigin="anonymous"
            async
          />
        </footer>
      )
    }
  </article>
</BaseLayout>
