footer(role="contentinfo", class="footer")
	address
		div(class="email")
			strong Email
			a(href="mailto:#{ email }") #{ email }
		div(class="phone")
			strong Phone
			a(href="tel:3308286147") 330.828.6147
		div(class="web")
			strong Web
			a(href="https://twitter.com/#{ twitter }", class="icon-twitter")
			a(href="https://facebook.com/#{ facebook }", class="icon-facebook")
			a(href="https://github.com/#{ github }", class="icon-github")
