doctype html
html(lang="en-us")
	head
		meta(charset="utf-8")
		if project_title
			title #{ project_title } &mdash; #{ title }
		else
			title #{ title }
		if description
			meta(name="description", content=description)
		else
			meta(name="description", content=site_description)
		!= partial("../_shared/meta")
	body(id=current.source, class="project", itemscope, itemtype="https://schema.org/Person")
		!= partial("../_shared/header")
		!= partial("../_shared/nav")
		main(role="main")
			!= yield
		!= partial("../_shared/footer")
		!= partial("../_shared/scripts")
