!!!
html(lang="en-us")
	head
		meta(charset="utf-8")
		if page_title
			title #{ page_title } &mdash; #{ title }
		else
			title #{ title }
		meta(name="generator", content="http://harpjs.com")
		link(rel="stylesheet", href="/assets/css/main.css")
		link(rel="canonical", href="#{ root_url }/#{ current.source }")
	body(id="#{ current.source }")
		!= partial("_shared/header")
		!= partial("_shared/nav")
		main(role="main")
			!= yield
		!= partial("_shared/footer")
