!!! xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
	channel
		title= title
		link= root_url
		description= description
		atom:link(href="#{ root_url }/feed.xml", rel="self", type="application/rss+xml")
		for post, slug in public.blog._data
			if post.is_published
				item
					title= post.post_title
					description= post.excerpt
					pubDate= new Date(post.dateTime)
					link #{ root_url }/blog/#{ slug }
					guid(isPermaLink="true") #{ root_url }/blog/#{ slug }
