---
import { Image } from 'astro:assets'
import * as dateFns from 'date-fns'
import { getCollection, getEntry } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import EmojiText from '../components/EmojiText.astro'
import DaylioEntry from '../components/DaylioEntry.astro'
import DaylioChart from '../components/DaylioChart'
import PostPreview from '../components/Post/Preview.astro'
import { convertNumberToOrdinal } from '../lib/utils'
import Memoji from '../components/Memoji.astro'
import SpotifyPlaylist from '../components/SpotifyPlaylist.astro'

const latestEntry = await getCollection('feelings').then(
  (entries) => entries[0].data
)
const topAlbums = await getCollection('lastfmCovers').then((entries) =>
  entries.slice(0, 9).map((entry) => entry.data)
)
const currentlyReading = await getCollection('currentlyReading').then((books) =>
  books.map((book) => book.data)
)
const recentlyRead = await getCollection('recentlyRead').then((books) =>
  books.map((book) => book.data)
)
const favoritePosts = await getCollection('blog').then((posts) =>
  posts
    .filter((post) => post.data.favoriteIndex)
    .sort((a, b) => (a.data.favoriteIndex ?? 0) - (b.data.favoriteIndex ?? 0))
)
const latestPost = await getCollection('blog').then(
  (posts) =>
    posts.sort((a, b) => dateFns.compareDesc(a.data.date, b.data.date))[0]
)
const currentPlaylist = await getCollection('seasonalPlaylists').then(
  (playlists) =>
    playlists.sort((a, b) => dateFns.compareDesc(a.data.date, b.data.date))[0]
      .data
)
const CodingSection = await getEntry('sections', 'do-you-code')
  ?.then((section) => section.render())
  .then(({ Content }) => Content)
---

<Layout>
  <section class:list={['intro', 'paper', 'prose']}>
    <h1>Glad To Meet You!</h1>
    <Memoji />
    <p>My name is Eli I only really write in lists, so here's my deal.</p>
    <ul>
      <li>
        I am a{' '}
        <EmojiText emoji="🧑‍💻" label="computer programmer emoji">
          <strong>full stack web engineer</strong>.
        </EmojiText>
      </li>
      <li>
        I love to plan and{' '}
        <EmojiText emoji="👨‍🍳" label="chef emoji">
          <strong>cook elaborate meals</strong>.
        </EmojiText>
        It really activates the engineering part of my brain!
      </li>
      <li>
        I have a{' '}
        <EmojiText emoji="🤓" label="geek emoji">
          <strong>non-traditional computer science education</strong>.
        </EmojiText>
        I attended a vocational school in high school, taught myself web programming,
        bounced around colleges for computer science while working the entire time
        before deciding to go pro!
      </li>
      <li>
        I am a
        <Image
          src="/img/vim.svg"
          alt="Vim Logo"
          width={16}
          height={16}
          class:list={['inline', 'align-text-top', 'mx-0', 'mb-0', 'mt-[2px]']}
        />
        <strong>Vim user</strong> but I actively encourage everyone to use something
        else. Using Vim in {new Date().getFullYear()} is a cool bar trick.
      </li>
      <li>
        I currently live in{' '}
        <EmojiText emoji="📍" label="pin emoji to denote location">
          <strong>Astoria, Queens</strong>.
        </EmojiText>
        I didn't think I would settle down in Queens and love it as much as I do,
        but life is like that sometimes.
      </li>
      <li>
        I have a{' '}
        <EmojiText
          emoji="😼"
          label="smirking cat emoji because Fonzie is a stinker"
        >
          <strong>fat cat named Fonzie</strong>
        </EmojiText>{' '}
        and I sorta have{' '}
        <a href="https://twitter.com/EliGundry/status/1055933062125703168">
          a tattoo of him on my arm</a
        >.
      </li>
    </ul>
  </section>

  <section class="daylio paper prose">
    <h2 class="mb-4">How I'm Feeling</h2>
    <p>
      A while ago, I decided to start journaling my feelings. Being a software
      engineer,
      <a href="/blog/feelings-api"
        >I made an API out of it and put it on my website</a
      >. The favicon for the site the emoji for my latest entry.
    </p>
    <DaylioEntry entry={latestEntry} />
    <div class:list={['hidden', 'sm:block', 'sm:min-h-[153px]']}>
      <DaylioChart client:media="(min-width: 640px)" />
    </div>
  </section>

  <section
    class:list={[
      'coding',
      'paper',
      'prose',
      ['pb-0', 'sm:pb-4'],
      ['[&>p:last-of-type]:mb-0', 'sm:[&>p:last-of-type]:mb-4'],
    ]}
  >
    <CodingSection />
  </section>

  <section class="favoritePosts paper prose">
    <h2 class="mb-4">Are You A Blogger?</h2>
    <p>
      I'm certainly trying to be! I try to write four posts a year. Sometimes I
      exceed it, other times, I completely whiff. No pressure though. Below are
      some of my favorite posts.
    </p>
    <div class="posts flex flex-col gap-4">
      <PostPreview
        entry={latestPost}
        badge={{
          text: 'Latest',
          className: 'badge-secondary',
        }}
      />
      {
        favoritePosts.map((post, i) => (
          <PostPreview
            entry={post}
            badge={{
              text: `${convertNumberToOrdinal(i + 1)} Favorite`,
              className: 'badge-accent',
            }}
          />
        ))
      }
    </div>
  </section>

  <section class="reading paper prose">
    <h2 class="mb-4">What I'm Reading</h2>
    <p>
      I wish I read more, but there are only so many hours in the day. These are
      the books that I'm reading right now. You can find me on <a
        href="https://www.goodreads.com/user/show/29665939-eli-gundry"
        itemprop="sameAs">Goodreads</a
      >.
    </p>
    <div
      class:list={[
        'not-prose',
        'grid',
        'items-center',
        ['grid-cols-4', 'md:grid-cols-6'],
        'md:gap-y-2',
      ]}
    >
      {
        [...currentlyReading, ...recentlyRead].map((book, i) => {
          const authorName = book.author?.split(', ').reverse().join(' ')
          let alt = book.title

          if (authorName) {
            alt += ` by ${authorName}`
          }

          const isCurrentlyReading = i < currentlyReading.length
          if (isCurrentlyReading) {
            alt = `Currently Reading: ${alt}`
          } else if (book.rating > 0) {
            alt += ` ${'★'.repeat(book.rating)}${'☆'.repeat(5 - book.rating)}`
          }

          if (!alt || !book.cover) return null

          return (
            <div
              itemscope
              itemtype="https://schema.org/Book"
              class:list={[
                'sm:tooltip',
                'sm:tooltip-primary',
                'font-sans',
                i >= 12 && 'hidden md:block',
              ]}
              data-tip={alt}
            >
              <meta itemprop="name" content={book.title} />
              <meta itemprop="author" content={authorName} />
              <a
                href={book.url}
                target="_blank"
                rel="noopener noreferrer"
                itemprop="url"
              >
                <Image
                  alt={alt}
                  src={book.cover}
                  loading="lazy"
                  width={100}
                  height={160}
                  quality={90}
                  format="webp"
                  decoding="async"
                  style={{ backgroundColor: book.coverColor }}
                  itemprop="image"
                />
              </a>
              {book.rating > 0 && (
                <div
                  itemprop="review"
                  itemscope
                  itemtype="https://schema.org/Review"
                  class="hidden"
                >
                  <div
                    itemprop="reviewRating"
                    itemscope
                    itemtype="https://schema.org/Rating"
                  >
                    <meta
                      itemprop="ratingValue"
                      content={book.rating.toString()}
                    />
                    <meta itemprop="bestRating" content="5" />
                  </div>
                  <link itemprop="author" href="#eli-gundry" />
                </div>
              )}
            </div>
          )
        })
      }
    </div>
  </section>

  <section class="listening paper prose">
    <h2 class="mb-4">What I'm Listening To</h2>
    <p>
      I listen to way too much music and I love to listen to full albums. I
      mainly listen to hip hop, indie rock and
      <a href="/blog/icymi-glocca-morra-just-married">emo</a>. I occasionally
      write reviews of old albums that I love but aren't well known in a series
      called
      <a href="/blog/#icymi"><abbr title="I See You Missed It">ICYMI</abbr></a>.
    </p>
    <p>
      In order to listen to more new music, I created
      <a href="https://album-mode.party">Album Mode.party</a>, which recommends
      me albums that Spotify's algorithims would never dare show me. It's the
      first application I have built that I use daily!
    </p>
    <div class="flex flex-col sm:flex-row gap-y-4 sm:gap-4">
      <div class="sm:items-stretch flex flex-col">
        <h3 class="mt-0">
          <a href="/seasonal-playlists">Seasonal Playlist</a>
        </h3>
        <SpotifyPlaylist
          spotifyId={currentPlaylist.spotifyId}
          name={currentPlaylist.name}
          date={currentPlaylist.date}
          description={currentPlaylist.description}
          lazy
          class="w-full sm:w-[300px] sm:flex-1"
        />
      </div>
      <div>
        <h3 class="mt-2 sm:mt-0">On Repeat</h3>
        <a
          href="https://www.last.fm/user/eli_pwnd"
          class:list={['grid', 'grid-cols-3', 'h-fit', 'gap-0', 'not-prose']}
        >
          {
            topAlbums.map((album) => {
              const alt = `${album.album} by ${album.artist} [${album.count} scrobbles]`
              return (
                <picture
                  data-tip={alt}
                  class:list={['sm:tooltip', 'sm:tooltip-primary', 'font-sans']}
                >
                  <Image
                    alt={alt}
                    src={album.cover}
                    width={146}
                    height={146}
                    quality={90}
                    format="webp"
                    loading="lazy"
                    decoding="async"
                    style={{ backgroundColor: album.coverColor ?? undefined }}
                  />
                </picture>
              )
            })
          }
        </a>
      </div>
    </div>
  </section>
</Layout>
