---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'

const playlists = await getCollection('seasonalPlaylists')
---

<Layout
  title="Seasonal Playlists"
  description="Spotify playlists that I have on repeat throughout the seasons."
  fancyBackgroundPoints={10}
>
  <div class:list={['flex', 'flex-col', 'gap-y-4', 'prose', 'paper']}>
    <h1 class="mb-0">Seasonal Playlists</h1>
    <p class="my-0">
      Every season, I put together a playlist of what I'm listening to. Here
      they all are.
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {
        playlists.map((playlist) => (
          <div
            itemscope
            itemtype="https://schema.org/MusicPlaylist"
          >
            <link itemprop="creator" href="#eli-gundry" />
            <h3 class="mt-0 mb-2" itemprop="name">{playlist.data.name}</h3>
            {playlist.data.description && (
              <p class="my-0 mb-2" itemprop="description">{playlist.data.description}</p>
            )}
            <meta itemprop="url" content={`https://open.spotify.com/playlist/${playlist.data.spotifyId}`} />
            <iframe
              title={`Spotify playlist: ${playlist.data.name}`}
              src={`https://open.spotify.com/embed/playlist/${playlist.data.spotifyId}?utm_source=generator`}
              allow="encrypted-media"
              width="100%"
              height="380"
              loading="lazy"
            />
          </div>
        ))
      }
    </div>
  </div>
</Layout>
