---
import { getCollection, type CollectionEntry } from 'astro:content'
import * as dateFns from 'date-fns'
import BaseLayout from '../../../layouts/Layout.astro'
import EmojiText from '../../../components/EmojiText.astro'
import LinkEmbed from '../../../components/LinkEmbed.astro'

interface Props {
  entry: CollectionEntry<'links'>
}

export async function getStaticPaths() {
  const links = await getCollection('links')
  return links.map((entry) => ({
    params: {
      slug: entry.data.properties.Slug,
    },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
const props = entry.data.properties
const url = `/blog/links/${props.Slug}/`
---

<BaseLayout title={props.Name} description={props.Description ?? props.URL ?? ''}>
  <article
    class="paper prose"
    itemscope
    itemtype="https://schema.org/BlogPosting"
  >
    <link itemprop="author publisher" href="#eli-gundry" />
    <header class:list={['border-b-2', 'border-b-accent', 'pb-2']}>
      <h1 itemprop="name headline" class="mb-2">
        <a href={url} itemprop="url">{props.Name}</a>
      </h1>
      <div class="flex flex-row gap-4 [&>*]:m-0">
        <time datetime={props.Created.toISOString()}>
          <EmojiText label="calendar for the date" emoji="🗓">
            {dateFns.formatISO(props.Created, { representation: 'date' })}
          </EmojiText>
        </time>
      </div>
      {
        props.Description && (
          <p itemprop="description" class="m-0">
            {props.Description}
          </p>
        )
      }
      {
        props.URL && (
          <p class="m-0">
            <EmojiText label="external link being referenced" emoji="🔗">
              <a
                href={props.URL}
                target="_blank"
                rel="noopener noreferrer"
                itemprop="url"
              >
                {props.URL}
              </a>
            </EmojiText>
          </p>
        )
      }
    </header>
    {props.URL && <LinkEmbed url={props.URL} />}
    <main itemprop="text">
      <Content />
    </main>
  </article>
</BaseLayout>
