!!!
html(lang="en-us")
	head
		meta(charset="utf-8")
		if page_title
			title #{ page_title } &mdash; #{ title }
		else
			title #{ title }
		if description
			meta(name="description", content="#{ description }")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="generator", content="http://harpjs.com")
		meta(name="msapplication-navbutton-color", content="#f00")
		link(rel="author", href="https://plus.google.com/u/0/107552919918829140808/?rel=author")
		link(rel="humans", href="#{ root_url }/humans.txt")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:400,700|Goudy+Bookletter+1911")
		link(rel="stylesheet", href="/assets/css/main.css")
		link(rel="canonical", href="#{ root_url }/blog/#{ current.source }")
		link(rel="alternate", type="application/rss+xml", title="RSS", href="#{ root_url }/feed.xml")
	body(id="#{ current.source }", class="blog-loop")
		!= partial("../_shared/header")
		!= partial("../_shared/nav")

		main(role="main", itemscope, itemtype="http://schema.org/Blog")
			!= yield

		!= partial("../_shared/footer")
		!= partial("../_shared/scripts")
