each post, slug in public.blog._data
	if post.is_published
		article(itemprop="blogPosts", itemscope, itemtype="http://schema.org/BlogPosting")
			h2(itemprop="title")
				a(href="/blog/#{ slug }", itemprop="url") #{ post.post_title }
			meta(itemprop="author", content="#{ author }")
			time(itemprop="datePublished", datetime="#{ post.dateTime }") #{ post.date }
			p(itemprop="description") #{ post.excerpt }
