doctype html
html(lang="en-us")
	head
		meta(charset="utf-8")
		if page_title
			title #{ post_title } &mdash; #{ title }
		else
			title #{ title }
		if description
			meta(name="description", content=description)
		!= partial("../_shared/meta")
	body(id=current.source, class="blog-loop", itemscope, itemtype="https://schema.org/Person")
		!= partial("../_shared/header")
		!= partial("../_shared/nav")

		main(role="main", itemscope, itemtype="http://schema.org/Blog")
			!= yield

		!= partial("../_shared/footer")
		!= partial("../_shared/scripts")
