doctype html
html(lang="en-us")
	head
		meta(charset="utf-8")
		if post_title
			title #{ post_title } &mdash; #{ title }
		else
			title #{ title }
		if excerpt
			meta(name="description", content="#{ excerpt }")
		!= partial("../_shared/meta")
	body(id="#{ current.source }", class="blog-post")
		!= partial("../_shared/header")
		!= partial("../_shared/nav")

		main(role="main")
			article(itemscope, itemtype="http://schema.org/BlogPosting")
				meta(itemprop="description", content="#{ excerpt }")
				meta(itemprop="author", content="#{ author }")
				header
					h1(itemprop="name")
						a(href="#{ root_url }/blog/#{ current.source }", itemprop="url") #{ post_title }
					time(itemprop="datePublished", datetime="#{ dateTime }") #{ date }
				section(itemprop="articleBody")
					!= yield
				footer
					!= partial("../_shared/disqus")

		!= partial("../_shared/footer")
		!= partial("../_shared/scripts")
