footer(role="contentinfo", class="footer")
	address(itemscope, itemtype="http://schema.org/Person")
		meta(itemprop="name", content="Eli Gundry")
		div(class="email")
			i(class="fa fa-envelope-o", title="Email")
				span(class="hidden") Email
			a(href="mailto:#{ email }")
				span(itemprop="#{ email }") #{ email }
		div(class="phone")
			i(class="fa fa-phone", title="Phone")
				span(class="hidden") Phone
			a(href="tel:3308286147")
				span(itemprop="telephone") 330.828.6147
		div(class="web")
			i(class="fa fa-globe", title="Web")
				span(class="hidden") Web
			a(href="https://github.com/#{ github }", title="Github", itemprop="url")
				i(class="fa fa-github-square print-hide")
			a(href="https://twitter.com/#{ twitter }", title="Twitter", itemprop="url")
				i(class="fa fa-twitter-square print-hide")
			a(href="https://facebook.com/#{ facebook }", title="Facebook", itemprop="url", class="resume-hide")
				i(class="fa fa-facebook-square print-hide")
			a(href="http://www.last.fm/user/#{ last_fm }", title="Last.fm", itemprop="url", class="resume-hide")
				i(class="fa fa-lastfm-square print-hide")
			a(href="/feed.xml", title="RSS", class="print-hide")
				i(class="fa fa-rss-square print-hide")
